<?xml version="1.0"?>
<!--
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_CallToAction
 * @copyright   Copyright (c) 2014-2015 Itactica (https://www.getintenso.com)
 * @license     https://getintenso.com/license
 */
-->
<config>
    <modules>
        <Itactica_CallToAction>
            <version>1.0.0</version>
        </Itactica_CallToAction>
    </modules>
    <global>
        <resources>
            <itactica_calltoaction_setup>
                <setup>
                    <module>Itactica_CallToAction</module>
                    <class>Itactica_CallToAction_Model_Resource_Setup</class>
                </setup>
            </itactica_calltoaction_setup>
        </resources>
        <blocks>
            <itactica_calltoaction>
                <class>Itactica_CallToAction_Block</class>
            </itactica_calltoaction>
        </blocks>
        <helpers>
            <itactica_calltoaction>
                <class>Itactica_CallToAction_Helper</class>
            </itactica_calltoaction>
        </helpers>
        <models>
            <itactica_calltoaction>
                <class>Itactica_CallToAction_Model</class>
                <resourceModel>itactica_calltoaction_resource</resourceModel>
            </itactica_calltoaction>
            <itactica_calltoaction_resource>
                <class>Itactica_CallToAction_Model_Resource</class>
                <entities>
                    <calltoaction>
                        <table>itactica_calltoaction_calltoaction</table>
                    </calltoaction>
                    <calltoaction_store>
                        <table>itactica_calltoaction_calltoaction_store</table>
                    </calltoaction_store>
                </entities>
            </itactica_calltoaction_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <itactica_calltoaction>
                    <file>itactica_calltoaction.xml</file>
                </itactica_calltoaction>
            </updates>
        </layout>
        <events>
            <store_edit>
                <observers>
                    <intenso>
                        <type>singleton</type>
                        <class>itactica_intenso/observer</class>
                        <method>afterStoreEdit</method>
                    </intenso>
                </observers>
            </store_edit>            
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <intenso>
                        <type>singleton</type>
                        <class>itactica_intenso/observer</class>
                        <method>afterConfigSave</method>
                    </intenso>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
        <translate>
            <modules>
                <Itactica_CallToAction>
                    <files>
                        <default>Itactica_CallToAction.csv</default>
                    </files>
                </Itactica_CallToAction>
            </modules>
        </translate>
        <global_search>
            <cta>
                <class>itactica_calltoaction/adminhtml_search_cta</class>
                <acl>itactica_calltoaction</acl>
            </cta>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Itactica_CallToAction before="Mage_Adminhtml">Itactica_CallToAction_Adminhtml</Itactica_CallToAction>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <itactica_calltoaction>
                <use>standard</use>
                <args>
                    <module>Itactica_CallToAction</module>
                    <frontName>itactica_calltoaction</frontName>
                </args>
            </itactica_calltoaction>
        </routers>
        <layout>
            <updates>
                <itactica_calltoaction>
                    <file>itactica_calltoaction.xml</file>
                </itactica_calltoaction>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_CallToAction>
                    <files>
                        <default>Itactica_CallToAction.csv</default>
                    </files>
                </Itactica_CallToAction>
            </modules>
        </translate>
    </frontend>
    <default>
        <itactica_calltoaction>
            <cache>
                <cache_enabled>1</cache_enabled>
            </cache>
        </itactica_calltoaction>
    </default>
</config>
