<?xml version="1.0"?>
<!--
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_Intenso
 * @copyright   Copyright (c) 2014 Itactica (http://www.itactica.com)
 * @license     http://getintenso.com/license
 */
-->
<config>
    <modules>
        <Itactica_Intenso>
            <version>1.0.0</version>
        </Itactica_Intenso>
    </modules>
    <adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <theme>
                            <title>Intenso Theme - Main Menu</title>
                        </theme>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <intenso>
                                            <title>Intenso - Theme Setup</title>
                                        </intenso>
                                    </children>
                                    <children>
                                        <intenso_design>
                                            <title>Intenso - Theme Design</title>
                                        </intenso_design>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <itactica_intenso>
                    <file>itactica_intenso.xml</file>
                </itactica_intenso>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <resources>
            <itactica_intenso_setup>
                <setup>
                    <module>Itactica_Intenso</module>
                    <class>Itactica_Intenso_Model_Resource_Setup</class>
                </setup>
            </itactica_intenso_setup>
        </resources>
        <models>
            <itactica_intenso>
                <class>Itactica_Intenso_Model</class>
            </itactica_intenso>
        </models>
        <blocks>
            <itactica_intenso>
                <class>Itactica_Intenso_Block</class>
            </itactica_intenso>
            <checkout>
                <rewrite>
                    <cart_crosssell>Itactica_Intenso_Block_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <itactica_intenso>
                <class>Itactica_Intenso_Helper</class>
            </itactica_intenso>
            <configurableswatches>
                <rewrite>
                    <mediafallback>Itactica_Intenso_Helper_Mediafallback</mediafallback>
                </rewrite>
            </configurableswatches>
        </helpers>
        <page>
            <layouts>
                <no_route_custom module="page" translate="label">
                    <label>404 error page</label>
                    <template>cms/default/no-route.phtml</template>
                    <layout_handle>no_route_custom</layout_handle>
                </no_route_custom>
            </layouts>
        </page>
    </global>
    <admin>
        <routers>
            <intenso>
                <use>admin</use>
                <args>
                    <module>Itactica_Intenso</module>
                    <frontName>itactica_intenso</frontName>
                </args>
            </intenso>
        </routers>
    </admin>
    <frontend>
        <routers>
            <intenso_css>
                <use>standard</use>
                <args>
                    <module>Itactica_Intenso</module>
                    <frontName>itactica_intenso_css</frontName>
                </args>
            </intenso_css>
        </routers>
        <layout>
            <updates>
                <itactica_intenso>
                    <file>itactica_intenso.xml</file>
                </itactica_intenso>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_Intenso>
                    <files>
                        <default>translate.csv</default>
                    </files>
                </Itactica_Intenso>
            </modules>
        </translate>
    </frontend>
    <default>
        <intenso>
            <catalog>
                <lazy_loading>1</lazy_loading>
                <catalog_min_product_width>220</catalog_min_product_width>
                <keep_image_aspect_ratio>0</keep_image_aspect_ratio>
                <catalog_product_height>404</catalog_product_height>
                <remove_image_padding>0</remove_image_padding>
                <product_box_border_radius>2</product_box_border_radius>
                <catalog_show_price_tag>1</catalog_show_price_tag>
                <catalog_show_products_rating>1</catalog_show_products_rating>
                <catalog_show_color_options>1</catalog_show_color_options>
                <catalog_show_add_to_cart>1</catalog_show_add_to_cart>
                <catalog_show_add_to_compare>1</catalog_show_add_to_compare>
                <catalog_show_add_to_wishlist>1</catalog_show_add_to_wishlist>
                <no_results_featured>home_new_arrivals</no_results_featured>
                <empty_category_featured>home_new_arrivals</empty_category_featured>
            </catalog>
            <product_page>
                <keep_image_aspect_ratio>0</keep_image_aspect_ratio>
                <image_fixed_height>500</image_fixed_height>
            </product_page>
            <fonts>
                <base_font_size>16</base_font_size>
                <font_family>google</font_family>
                <google_fonts>Open Sans</google_fonts>
                <font_subset>latin</font_subset>
                <font_styles>300,300italic,400,400italic,600</font_styles>
                <font_custom>Arial, "Helvetica Neue", Helvetica, sans-serif</font_custom>
            </fonts>
            <header>
                <additional_info><![CDATA[<span aria-hidden="true" class="icon-phone"></span>Call +38 094 945 4180]]></additional_info>
                <main_menu_style>horizontal</main_menu_style>
                <show_home_link>1</show_home_link>
                <show_categories>1</show_categories>
                <show_subcategories>1</show_subcategories>
                <sec_menu>1</sec_menu>
                <sec_menu_style>0</sec_menu_style>
                <sec_menu_links>a:4:{s:18:"_1403221385352_352";a:2:{s:9:"menu_item";s:8:"About Us";s:3:"url";s:24:"about-magento-demo-store";}s:18:"_1403221399959_959";a:2:{s:9:"menu_item";s:10:"Contact Us";s:3:"url";s:8:"contacts";}s:18:"_1403221419868_868";a:2:{s:9:"menu_item";s:7:"Support";s:3:"url";s:1:"#";}s:18:"_1403221429860_860";a:2:{s:9:"menu_item";s:19:"Another Custom Link";s:3:"url";s:1:"#";}}</sec_menu_links>
                <mega-menu-right-block-hide-width>880</mega-menu-right-block-hide-width>
            </header>
            <footer>
                <newsletter>1</newsletter>
                <mobile_language_switch>1</mobile_language_switch>
                <mobile_currency_selector>1</mobile_currency_selector>
            </footer>
            <custom_css>
                <load_custom_css>0</load_custom_css>
            </custom_css>
            <exit_intent_popup>
                <enable_popup>0</enable_popup>
                <popup_type>1</popup_type>
                <static_block>exit_intent_popup</static_block>
                <entry_time>5</entry_time>
                <popup_size>medium</popup_size>
                <background_color>#ffffff</background_color>
                <static_block_width>60</static_block_width>
                <sensitivity>20</sensitivity>
                <delay>100</delay>
                <cookie_expiration>30</cookie_expiration>
                <cookie_name>ExitIntentPopup</cookie_name>
            </exit_intent_popup>
            <checkout>
                <company_field>0</company_field>
            </checkout>
        </intenso>
        <intenso_design>
            <page>
                <page_max_width>1440</page_max_width>
                <form_fields_style>mdformfields</form_fields_style>
                <default_text_color>#5b6064</default_text_color>
                <main_color>#27ccc0</main_color>
                <main_hover_color>#23afa1</main_hover_color>
                <page_background_color>#ffffff</page_background_color>
                <viewport_background_color>#f0f0f0</viewport_background_color>
                <buttons_border_radius>4</buttons_border_radius>
                <primary_button_background_color>#27ccc0</primary_button_background_color>
                <primary_button_text_color>#ffffff</primary_button_text_color>
                <primary_button_hover_background_color>#1ba39c</primary_button_hover_background_color>
                <primary_button_hover_text_color>#ffffff</primary_button_hover_text_color>
                <secondary_button_background_color>#dee2e2</secondary_button_background_color>
                <secondary_button_text_color>#222222</secondary_button_text_color>
                <secondary_button_hover_background_color>#b9b9b9</secondary_button_hover_background_color>
                <secondary_button_hover_text_color>#222222</secondary_button_hover_text_color>
                <ghost_button_border_color>#27ccc0</ghost_button_border_color>
                <ghost_button_text_color>#27ccc0</ghost_button_text_color>
                <ghost_button_hover_border_color>#1ba39c</ghost_button_hover_border_color>
                <ghost_button_hover_text_color>#1ba39c</ghost_button_hover_text_color>
                <ghost_button_light_border_color>#f4f4f4</ghost_button_light_border_color>
                <ghost_button_light_text_color>#f4f4f4</ghost_button_light_text_color>
                <ghost_button_light_hover_border_color>#ffffff</ghost_button_light_hover_border_color>
                <ghost_button_light_hover_text_color>#ffffff</ghost_button_light_hover_text_color>
            </page>
            <header>
                <main_menu_style>regular</main_menu_style>
                <home_header_background>#000000</home_header_background>
                <header_opacity>100</header_opacity>
                <header_background>#ffffff</header_background>
                <main_menu_background>#ffffff</main_menu_background>
                <header_separator_color>#e2e2e2</header_separator_color>
                <header_separator_thickness>4</header_separator_thickness>
                <header_logo_max_width>294</header_logo_max_width>
                <header_logo_mobile_max_width>294</header_logo_mobile_max_width>
                <header_logo_top_margin>33</header_logo_top_margin>
                <header_logo_bottom_margin>15</header_logo_bottom_margin>
                <header_search_top_margin>24</header_search_top_margin>
                <header_search_bottom_margin>16</header_search_bottom_margin>
                <main_menu_text_color>#000000</main_menu_text_color>
                <main_menu_text_hover_color>#000000</main_menu_text_hover_color>
                <main_menu_font_size>1</main_menu_font_size>
                <main_menu_font_weight>normal</main_menu_font_weight>
                <main_menu_text_transform>none</main_menu_text_transform>
                <main_menu_dropdown_arrow_color>#cecece</main_menu_dropdown_arrow_color>
                <main_menu_secondary_text_color>#999999</main_menu_secondary_text_color>
                <main_menu_icon_color>#cecece</main_menu_icon_color>
                <home_main_menu_text_color>#ffffff</home_main_menu_text_color>
                <home_main_menu_text_hover_color>#27ccc0</home_main_menu_text_hover_color>
                <home_main_menu_dropdown_arrow_color>#999999</home_main_menu_dropdown_arrow_color>
                <home_main_menu_secondary_text_color>#bbbbbb</home_main_menu_secondary_text_color>
                <home_main_menu_icons_color>#27ccc0</home_main_menu_icons_color>
                <search_box_text_color>#aeaeae</search_box_text_color>
                <search_box_text_color_focus>#000000</search_box_text_color_focus>
                <search_box_border_color>#d3d3d3</search_box_border_color>
                <search_box_border_color_hover>#afafaf</search_box_border_color_hover>
                <search_box_icon_color>#999999</search_box_icon_color>
                <search_box_icon_divider_color>#efefef</search_box_icon_divider_color>
                <sec_menu_font_size>0.8125</sec_menu_font_size>
                <sec_menu_text_color>#999999</sec_menu_text_color>
                <sec_menu_text_color_hover>#333333</sec_menu_text_color_hover>
                <sec_menu_background_color>#ffffff</sec_menu_background_color>
                <home_sec_menu_text_color>#ffffff</home_sec_menu_text_color>
                <home_sec_menu_text_hover_color>#27ccc0</home_sec_menu_text_hover_color>
            </header>
            <footer>
                <footer_top_background>#f0f0f0</footer_top_background>
                <footer_top_color>#3b3d3d</footer_top_color>
                <footer_top_hover_color>#27ccc0</footer_top_hover_color>
                <footer_newsletterbox_text_color>#777777</footer_newsletterbox_text_color>
                <footer_newsletterbox_text_color_focus>#333333</footer_newsletterbox_text_color_focus>
                <footer_newsletterbox_border_color>#d3d3d3</footer_newsletterbox_border_color>
                <footer_newsletterbox_border_color_hover>#afafaf</footer_newsletterbox_border_color_hover>
                <footer_newsletterbox_border_color_focus>#27ccc0</footer_newsletterbox_border_color_focus>
                <footer_newsletterbox_submit_background>#27ccc0</footer_newsletterbox_submit_background>
                <footer_newsletterbox_submit_color>#ffffff</footer_newsletterbox_submit_color>
                <footer_newsletterbox_submit_hover_background>#1ba39c</footer_newsletterbox_submit_hover_background>
                <footer_newsletterbox_submit_hover_color>#ffffff</footer_newsletterbox_submit_hover_color>
                <footer_middle_background>#e5e5e5</footer_middle_background>
                <footer_label_color>#000000</footer_label_color>
                <footer_vertical_links_color>#666666</footer_vertical_links_color>
                <footer_vertical_links_hover_color>#27ccc0</footer_vertical_links_hover_color>
                <footer_horizontal_links_color>#888888</footer_horizontal_links_color>
                <footer_horizontal_links_hover_color>#444444</footer_horizontal_links_hover_color>
                <footer_horizontal_links_separator_color>#a5a5a5</footer_horizontal_links_separator_color>
                <footer_text_color>#222222</footer_text_color>
                <footer_bottom_background>#3b3d3d</footer_bottom_background>
                <footer_bottom_text_color>#ffffff</footer_bottom_text_color>
                <footer_bottom_backtotop_color>#ffffff</footer_bottom_backtotop_color>
                <footer_bottom_backtotop_hover_color>#ececec</footer_bottom_backtotop_hover_color>
                <footer_mobile_background>#e5e5e5</footer_mobile_background>
                <footer_mobile_background_hover>#c6c6c6</footer_mobile_background_hover>
                <footer_mobile_text_color>#000000</footer_mobile_text_color>
            </footer>
            <catalog>
                <catalog_view_background>#f4f4f4</catalog_view_background>
                <category_title_color>#222222</category_title_color>
                <category_price_color>#777777</category_price_color>
            </catalog>
            <product>
                <product_view_background>#ffffff</product_view_background>
                <breadcrumbs_background>#ffffff</breadcrumbs_background>
                <add_to_cart_box_background>#f4f4f4</add_to_cart_box_background>
                <product_name_color>#000000</product_name_color>
                <sticky_nav_background>#ffffff</sticky_nav_background>
                <sticky_nav_links_color>#333333</sticky_nav_links_color>
                <sticky_nav_links_color_hover>#27ccc0</sticky_nav_links_color_hover>
                <sticky_nav_links_bg_active>#bbbbbb</sticky_nav_links_bg_active>
                <sticky_nav_background_fixed>#ffffff</sticky_nav_background_fixed>
                <sticky_nav_link_color_fixed>#333333</sticky_nav_link_color_fixed>
                <sticky_nav_link_color_fixed_hover>#27ccc0</sticky_nav_link_color_fixed_hover>
                <product_info_label_color>#222222</product_info_label_color>
                <additional_info_background_color>#f4f4f4</additional_info_background_color>
                <product_info_separator_color>#f4f4f4</product_info_separator_color>
                <upsell_background_color>#f4f4f4</upsell_background_color>
                <upsell_label_color>#222222</upsell_label_color>
                <related_background_color>#f4f4f4</related_background_color>
                <related_label_color>#222222</related_label_color>
            </product>
            <featured_products>
                <featured_products_background>#f4f4f4</featured_products_background>
                <featured_products_label_color>#222222</featured_products_label_color>
            </featured_products>
            <featured_categories>
                <featured_categories_background>#f4f4f4</featured_categories_background>
                <featured_categories_label_color>#222222</featured_categories_label_color>
            </featured_categories>
            <logo_slider>
                <logo_slider_label_color>#222222</logo_slider_label_color>
            </logo_slider>
            <star_rating><stars_color>turquoise</stars_color></star_rating>
            <customer_account>
                <customer_inside_background_color>#f4f4f4</customer_inside_background_color>
            </customer_account>
        </intenso_design>
    </default>
</config>