<?xml version="1.0"?>
<!--
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_Billboard
 * @copyright   Copyright (c) 2015 Itactica (http://www.itactica.com)
 * @license     http://getintenso.com/license
 */
-->
<config>
    <modules>
        <Itactica_Billboard>
            <version>1.0.0</version>
        </Itactica_Billboard>
    </modules>
    <global>
        <resources>
            <itactica_billboard_setup>
                <setup>
                    <module>Itactica_Billboard</module>
                    <class>Itactica_Billboard_Model_Resource_Setup</class>
                </setup>
            </itactica_billboard_setup>
        </resources>
        <blocks>
            <itactica_billboard>
                <class>Itactica_Billboard_Block</class>
            </itactica_billboard>
        </blocks>
        <helpers>
            <itactica_billboard>
                <class>Itactica_Billboard_Helper</class>
            </itactica_billboard>
        </helpers>
        <models>
            <itactica_billboard>
                <class>Itactica_Billboard_Model</class>
                <resourceModel>itactica_billboard_resource</resourceModel>
            </itactica_billboard>
            <itactica_billboard_resource>
                <class>Itactica_Billboard_Model_Resource</class>
                <entities>
                    <billboard>
                        <table>itactica_billboard_billboard</table>
                    </billboard>
                    <billboard_store>
                        <table>itactica_billboard_billboard_store</table>
                    </billboard_store>
                </entities>
            </itactica_billboard_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <itactica_billboard>
                    <file>itactica_billboard.xml</file>
                </itactica_billboard>
            </updates>
        </layout>
        <events>
            <store_edit>
                <observers>
                    <intenso>
                        <type>singleton</type>
                        <class>itactica_intenso/observer</class>
                        <method>afterStoreEdit</method>
                    </intenso>
                </observers>
            </store_edit>            
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <intenso>
                        <type>singleton</type>
                        <class>itactica_intenso/observer</class>
                        <method>afterConfigSave</method>
                    </intenso>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
        <translate>
            <modules>
                <Itactica_Billboard>
                    <files>
                        <default>Itactica_Billboard.csv</default>
                    </files>
                </Itactica_Billboard>
            </modules>
        </translate>
        <global_search>
            <unit>
                <class>itactica_billboard/adminhtml_search_unit</class>
                <acl>itactica_billboard</acl>
            </unit>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Itactica_Billboard before="Mage_Adminhtml">Itactica_Billboard_Adminhtml</Itactica_Billboard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <itactica_billboard>
                <use>standard</use>
                <args>
                    <module>Itactica_Billboard</module>
                    <frontName>itactica_billboard</frontName>
                </args>
            </itactica_billboard>
        </routers>
        <layout>
            <updates>
                <itactica_billboard>
                    <file>itactica_billboard.xml</file>
                </itactica_billboard>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_Billboard>
                    <files>
                        <default>Itactica_Billboard.csv</default>
                    </files>
                </Itactica_Billboard>
            </modules>
        </translate>
    </frontend>
    <default>
        <itactica_billboard>
            <cache>
                <cache_enabled>1</cache_enabled>
            </cache>
        </itactica_billboard>
    </default>
</config>
