<?xml version="1.0"?>
<!--
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_OrbitSlider
 * @copyright   Copyright (c) 2014 Itactica (http://www.itactica.com)
 * @license     http://getintenso.com/license
 */
-->
<config>
    <modules>
        <Itactica_OrbitSlider>
            <version>1.2.0</version>
        </Itactica_OrbitSlider>
    </modules>
    <global>
        <resources>
            <itactica_orbitslider_setup>
                <setup>
                    <module>Itactica_OrbitSlider</module>
                    <class>Itactica_OrbitSlider_Model_Resource_Setup</class>
                </setup>
            </itactica_orbitslider_setup>
        </resources>
        <blocks>
            <itactica_orbitslider>
                <class>Itactica_OrbitSlider_Block</class>
            </itactica_orbitslider>
        </blocks>
        <helpers>
            <itactica_orbitslider>
                <class>Itactica_OrbitSlider_Helper</class>
            </itactica_orbitslider>
        </helpers>
        <models>
            <itactica_orbitslider>
                <class>Itactica_OrbitSlider_Model</class>
                <resourceModel>itactica_orbitslider_resource</resourceModel>
            </itactica_orbitslider>
            <itactica_orbitslider_resource>
                <class>Itactica_OrbitSlider_Model_Resource</class>
                <entities>
                    <slides>
                        <table>itactica_orbitslider_slides</table>
                    </slides>
                    <slider>
                        <table>itactica_orbitslider_slider</table>
                    </slider>
                    <slides_store>
                        <table>itactica_orbitslider_slides_store</table>
                    </slides_store>
                    <slider_store>
                        <table>itactica_orbitslider_slider_store</table>
                    </slider_store>
                    <slider_slide>
                        <table>itactica_orbitslider_slider_slide</table>
                    </slider_slide>
                </entities>
            </itactica_orbitslider_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <itactica_orbitslider>
                    <file>itactica_orbitslider.xml</file>
                </itactica_orbitslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_OrbitSlider>
                    <files>
                        <default>Itactica_OrbitSlider.csv</default>
                    </files>
                </Itactica_OrbitSlider>
            </modules>
        </translate>
        <global_search>
            <slider>
                <class>itactica_orbitslider/adminhtml_search_slider</class>
                <acl>itactica_orbitslider</acl>
            </slider>
        </global_search>
        <events>
            <model_save_after>
                <observers>
                    <itactica_orbitslider_slider_slides>
                        <type>singleton</type>
                        <class>itactica_orbitslider/adminhtml_observer</class>
                        <method>saveSlideSliderData</method>
                    </itactica_orbitslider_slider_slides>
                </observers>
            </model_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Itactica_OrbitSlider before="Mage_Adminhtml">Itactica_OrbitSlider_Adminhtml</Itactica_OrbitSlider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <itactica_orbitslider>
                <use>standard</use>
                <args>
                    <module>Itactica_OrbitSlider</module>
                    <frontName>itactica_orbitslider</frontName>
                </args>
            </itactica_orbitslider>
        </routers>
        <layout>
            <updates>
                <itactica_orbitslider>
                    <file>itactica_orbitslider.xml</file>
                </itactica_orbitslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_OrbitSlider>
                    <files>
                        <default>Itactica_OrbitSlider.csv</default>
                    </files>
                </Itactica_OrbitSlider>
            </modules>
        </translate>
    </frontend>
    <default>
        <itactica_orbitslider>
            <cache>
                <cache_enabled>1</cache_enabled>
            </cache>
        </itactica_orbitslider>
    </default>
</config>
