<?xml version="1.0"?>
<!--
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_ExtendedReviews
 * @copyright   Copyright (c) 2014 Itactica (http://www.itactica.com)
 * @license     http://getintenso.com/license
 */
-->
<config>
    <modules>
        <Itactica_ExtendedReviews>
            <version>1.0.0</version>
        </Itactica_ExtendedReviews>
    </modules>
    <global>
        <helpers>
            <itactica_extendedreviews>
                <class>
                    Itactica_ExtendedReviews_Helper
                </class>
            </itactica_extendedreviews>
            <itactica_extendedreviews_render>
                <class>
                    Itactica_ExtendedReviews_Helper_Render
                </class>
            </itactica_extendedreviews_render>
        </helpers>
        <blocks>
            <itactica_extendedreviews>
                <class>Itactica_ExtendedReviews_Block</class>
            </itactica_extendedreviews>
            <review>
                <rewrite>
                    <helper>Itactica_ExtendedReviews_Block_Helper</helper>
                </rewrite>
            </review>
        </blocks>
         <models>
            <itactica_extendedreviews>
                <class>Itactica_ExtendedReviews_Model</class>
                <resourceModel>itactica_extendedreviews_resource</resourceModel>
            </itactica_extendedreviews>
            <itactica_extendedreviews_resource>
                <class>Itactica_ExtendedReviews_Model_Resource</class>
                <entities>
                    <comments>
                        <table>itactica_extendedreviews_comments</table>
                    </comments>
                    <vote>
                        <table>itactica_extendedreviews_vote</table>
                    </vote>
                    <summary>
                        <table>itactica_extendedreviews_summary</table>
                    </summary>
                    <userdata>
                        <table>itactica_extendedreviews_userdata</table>
                    </userdata>
                </entities>
            </itactica_extendedreviews_resource>
        </models>
        <resources>
            <itactica_extendedreviews_setup>
                <setup>
                    <module>Itactica_ExtendedReviews</module>
                    <class>Itactica_ExtendedReviews_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </itactica_extendedreviews_setup>
            <itactica_extendedreviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </itactica_extendedreviews_write>
            <itactica_extendedreviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </itactica_extendedreviews_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <itactica_extendedreviews>
                    <file>itactica_extendedreviews.xml</file>
                </itactica_extendedreviews>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_ExtendedReviews>
                    <files>
                        <default>Itactica_ExtendedReviews.csv</default>
                    </files>
                </Itactica_ExtendedReviews>
            </modules>
        </translate>
        <events>
            <review_save_after>
                <observers>
                    <itactica_extendedreviews>
                        <type>model</type>
                        <class>itactica_extendedreviews/observer</class>
                        <method>reviewSaveAfter</method>
                    </itactica_extendedreviews>
                </observers>
            </review_save_after>
            <controller_action_postdispatch_review_product_post>
                <observers>
                    <itactica_extendedreviews>
                        <type>model</type>
                        <class>itactica_extendedreviews/observer</class>
                        <method>syncReviewAfterSave</method>
                    </itactica_extendedreviews>
                </observers>
            </controller_action_postdispatch_review_product_post>
        </events>
        <routers>
            <itactica_extendedreviews>
                <use>standard</use>
                <args>
                    <module>Itactica_ExtendedReviews</module>
                    <frontName>extended-reviews</frontName>
                </args>
            </itactica_extendedreviews>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <review_save_after>
                <observers>
                    <itactica_extendedreviews>
                        <type>model</type>
                        <class>itactica_extendedreviews/observer</class>
                        <method>reviewSaveAfter</method>
                    </itactica_extendedreviews>
                </observers>
            </review_save_after>
            <controller_action_postdispatch_adminhtml_catalog_product_review_save>
                <observers>
                    <itactica_extendedreviews>
                        <type>model</type>
                        <class>itactica_extendedreviews/observer</class>
                        <method>syncReviewAfterSave</method>
                    </itactica_extendedreviews>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_review_save>
            <controller_action_postdispatch_adminhtml_catalog_product_review_post>
                <observers>
                    <itactica_extendedreviews>
                        <type>model</type>
                        <class>itactica_extendedreviews/observer</class>
                        <method>syncReviewAfterSave</method>
                    </itactica_extendedreviews>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_review_post>
        </events>
        <translate>
            <modules>
                <Itactica_ExtendedReviews>
                    <files>
                        <default>Itactica_ExtendedReviews.csv</default>
                    </files>
                </Itactica_ExtendedReviews>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Itactica_ExtendedReviews before="Mage_Adminhtml">Itactica_ExtendedReviews_Adminhtml</Itactica_ExtendedReviews>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <itactica_extendedreviews>
            <reviews>
                <num_reviews>5</num_reviews>
                <max_words_preview>0</max_words_preview>
            </reviews>
        </itactica_extendedreviews>
    </default>
</config>