<?xml version="1.0"?>
<!--
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_LogoSlider
 * @copyright   Copyright (c) 2014-2015 Itactica (http://www.itactica.com)
 * @license     http://getintenso.com/license
 */
-->
<config>
    <modules>
        <Itactica_LogoSlider>
            <version>1.0.0</version>
        </Itactica_LogoSlider>
    </modules>
    <global>
        <resources>
            <itactica_logoslider_setup>
                <setup>
                    <module>Itactica_LogoSlider</module>
                    <class>Itactica_LogoSlider_Model_Resource_Setup</class>
                </setup>
            </itactica_logoslider_setup>
        </resources>
        <blocks>
            <itactica_logoslider>
                <class>Itactica_LogoSlider_Block</class>
            </itactica_logoslider>
        </blocks>
        <helpers>
            <itactica_logoslider>
                <class>Itactica_LogoSlider_Helper</class>
            </itactica_logoslider>
        </helpers>
        <models>
            <itactica_logoslider>
                <class>Itactica_LogoSlider_Model</class>
                <resourceModel>itactica_logoslider_resource</resourceModel>
            </itactica_logoslider>
            <itactica_logoslider_resource>
                <class>Itactica_LogoSlider_Model_Resource</class>
                <entities>
                    <logo>
                        <table>itactica_logoslider_logo</table>
                    </logo>
                    <slider>
                        <table>itactica_logoslider_slider</table>
                    </slider>
                    <logo_store>
                        <table>itactica_logoslider_logo_store</table>
                    </logo_store>
                    <slider_store>
                        <table>itactica_logoslider_slider_store</table>
                    </slider_store>
                    <slider_logos>
                        <table>itactica_logoslider_slider_logos</table>
                    </slider_logos>
                </entities>
            </itactica_logoslider_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <itactica_logoslider>
                    <file>itactica_logoslider.xml</file>
                </itactica_logoslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_LogoSlider>
                    <files>
                        <default>Itactica_LogoSlider.csv</default>
                    </files>
                </Itactica_LogoSlider>
            </modules>
        </translate>
        <events>
            <model_save_after>
                <observers>
                    <itactica_logoslider_slider_logos>
                        <type>singleton</type>
                        <class>itactica_logoslider/adminhtml_observer</class>
                        <method>saveLogoSliderData</method>
                    </itactica_logoslider_slider_logos>
                </observers>
            </model_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Itactica_LogoSlider before="Mage_Adminhtml">Itactica_LogoSlider_Adminhtml</Itactica_LogoSlider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <itactica_logoslider>
                <use>standard</use>
                <args>
                    <module>Itactica_LogoSlider</module>
                    <frontName>itactica_logoslider</frontName>
                </args>
            </itactica_logoslider>
        </routers>
        <layout>
            <updates>
                <itactica_logoslider>
                    <file>itactica_logoslider.xml</file>
                </itactica_logoslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_LogoSlider>
                    <files>
                        <default>Itactica_LogoSlider.csv</default>
                    </files>
                </Itactica_LogoSlider>
            </modules>
        </translate>
    </frontend>
    <default>
        <itactica_logoslider>
            <cache>
                <cache_enabled>1</cache_enabled>
            </cache>
        </itactica_logoslider>
    </default>
</config>
