<?xml version="1.0"?>
<!--
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_FeaturedProducts
 * @copyright   Copyright (c) 2014 Itactica (http://www.itactica.com)
 * @license     http://getintenso.com/license
 */
-->
<config>
    <modules>
        <Itactica_FeaturedProducts>
            <version>1.1.0</version>
        </Itactica_FeaturedProducts>
    </modules>
    <global>
        <resources>
            <itactica_featuredproducts_setup>
                <setup>
                    <module>Itactica_FeaturedProducts</module>
                    <class>Itactica_FeaturedProducts_Model_Resource_Setup</class>
                </setup>
            </itactica_featuredproducts_setup>
        </resources>
        <blocks>
            <itactica_featuredproducts>
                <class>Itactica_FeaturedProducts_Block</class>
            </itactica_featuredproducts>
        </blocks>
        <helpers>
            <itactica_featuredproducts>
                <class>Itactica_FeaturedProducts_Helper</class>
            </itactica_featuredproducts>
        </helpers>
        <models>
            <itactica_featuredproducts>
                <class>Itactica_FeaturedProducts_Model</class>
                <resourceModel>itactica_featuredproducts_resource</resourceModel>
            </itactica_featuredproducts>
            <itactica_featuredproducts_resource>
                <class>Itactica_FeaturedProducts_Model_Resource</class>
                <entities>
                    <slider>
                        <table>itactica_featuredproducts_slider</table>
                    </slider>
                    <slider_store>
                        <table>itactica_featuredproducts_slider_store</table>
                    </slider_store>
                    <slider_product>
                        <table>itactica_featuredproducts_slider_product</table>
                    </slider_product>
                </entities>
            </itactica_featuredproducts_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <itactica_featuredproducts>
                    <file>itactica_featuredproducts.xml</file>
                </itactica_featuredproducts>
            </updates>
        </layout>
        <events>
            <store_edit>
                <observers>
                    <intenso>
                        <type>singleton</type>
                        <class>itactica_intenso/observer</class>
                        <method>afterStoreEdit</method>
                    </intenso>
                </observers>
            </store_edit>            
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <intenso>
                        <type>singleton</type>
                        <class>itactica_intenso/observer</class>
                        <method>afterConfigSave</method>
                    </intenso>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
        <translate>
            <modules>
                <Itactica_FeaturedProducts>
                    <files>
                        <default>Itactica_FeaturedProducts.csv</default>
                    </files>
                </Itactica_FeaturedProducts>
            </modules>
        </translate>
        <global_search>
            <slider>
                <class>itactica_featuredproducts/adminhtml_search_slider</class>
                <acl>itactica_featuredproducts</acl>
            </slider>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Itactica_FeaturedProducts before="Mage_Adminhtml">Itactica_FeaturedProducts_Adminhtml</Itactica_FeaturedProducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <itactica_featuredproducts>
                <use>standard</use>
                <args>
                    <module>Itactica_FeaturedProducts</module>
                    <frontName>itactica_featuredproducts</frontName>
                </args>
            </itactica_featuredproducts>
        </routers>
        <layout>
            <updates>
                <itactica_featuredproducts>
                    <file>itactica_featuredproducts.xml</file>
                </itactica_featuredproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_FeaturedProducts>
                    <files>
                        <default>Itactica_FeaturedProducts.csv</default>
                    </files>
                </Itactica_FeaturedProducts>
            </modules>
        </translate>
    </frontend>
    <default>
        <itactica_featuredproducts>
            <cache>
                <cache_enabled>1</cache_enabled>
            </cache>
        </itactica_featuredproducts>
    </default>
</config>
