<?xml version="1.0"?>
<!--
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_TextBoxes
 * @copyright   Copyright (c) 2014-2015 Itactica (http://www.itactica.com)
 * @license     http://getintenso.com/license
 */
-->
<config>
    <modules>
        <Itactica_TextBoxes>
            <version>1.1.0</version>
        </Itactica_TextBoxes>
    </modules>
    <global>
        <resources>
            <itactica_textboxes_setup>
                <setup>
                    <module>Itactica_TextBoxes</module>
                    <class>Itactica_TextBoxes_Model_Resource_Setup</class>
                </setup>
            </itactica_textboxes_setup>
        </resources>
        <blocks>
            <itactica_textboxes>
                <class>Itactica_TextBoxes_Block</class>
            </itactica_textboxes>
        </blocks>
        <helpers>
            <itactica_textboxes>
                <class>Itactica_TextBoxes_Helper</class>
            </itactica_textboxes>
        </helpers>
        <models>
            <itactica_textboxes>
                <class>Itactica_TextBoxes_Model</class>
                <resourceModel>itactica_textboxes_resource</resourceModel>
            </itactica_textboxes>
            <itactica_textboxes_resource>
                <class>Itactica_TextBoxes_Model_Resource</class>
                <entities>
                    <box>
                        <table>itactica_textboxes_box</table>
                    </box>
                    <box_store>
                        <table>itactica_textboxes_box_store</table>
                    </box_store>
                </entities>
            </itactica_textboxes_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <itactica_textboxes>
                    <file>itactica_textboxes.xml</file>
                </itactica_textboxes>
            </updates>
        </layout>
        <events>
            <store_edit>
                <observers>
                    <intenso>
                        <type>singleton</type>
                        <class>itactica_intenso/observer</class>
                        <method>afterStoreEdit</method>
                    </intenso>
                </observers>
            </store_edit>            
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <intenso>
                        <type>singleton</type>
                        <class>itactica_intenso/observer</class>
                        <method>afterConfigSave</method>
                    </intenso>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
        <translate>
            <modules>
                <Itactica_TextBoxes>
                    <files>
                        <default>Itactica_TextBoxes.csv</default>
                    </files>
                </Itactica_TextBoxes>
            </modules>
        </translate>
        <global_search>
            <box>
                <class>itactica_textboxes/adminhtml_search_box</class>
                <acl>itactica_textboxes</acl>
            </box>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Itactica_TextBoxes before="Mage_Adminhtml">Itactica_TextBoxes_Adminhtml</Itactica_TextBoxes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <itactica_textboxes>
                <use>standard</use>
                <args>
                    <module>Itactica_TextBoxes</module>
                    <frontName>itactica_textboxes</frontName>
                </args>
            </itactica_textboxes>
        </routers>
        <layout>
            <updates>
                <itactica_textboxes>
                    <file>itactica_textboxes.xml</file>
                </itactica_textboxes>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itactica_TextBoxes>
                    <files>
                        <default>Itactica_TextBoxes.csv</default>
                    </files>
                </Itactica_TextBoxes>
            </modules>
        </translate>
    </frontend>
    <default>
        <itactica_textboxes>
            <cache>
                <cache_enabled>1</cache_enabled>
            </cache>
        </itactica_textboxes>
    </default>
</config>
